@charset "utf-8";
/* CSS Document */


td.highlight {
        font-weight: bold;
        color: blue;
    }
	

.v-visualTopblock{
	 float:left;

}	
	
.left {
  float: left !important;
  clear: both;
}

.right {
  float: right !important;
  clear: both;
}

.medium{
  width: 50% !important;
}

.short {
  width: 33% !important;
}

label.cum{display: hidden !important; }

#sales_pitch_box{
background-color:#ECE3E3;
padding: 3px;
border: 1px #00F solid;

}

.ibox-content small.danger {
  color: #ed5565 !important;
}

.danger {
  color: #ed5565 !important;
}



.ibox-content small.safe {
  color: #1ab394 !important;
}

.safe {
  color: #1ab394 !important;
}









