@charset "utf-8";
/* CSS Document */

a:link {
	color: #FFFFFF;
text-decoration: none;	
}
a {
text-decoration: none;
}
a:visited {
	color: #FFFFFF;
text-decoration: none;	
}

a:hover {
	color: #ffe61f;
text-decoration: none;	
}

a:active {
	color: #FFFFFF;
text-decoration: none;	
}


.block {
	font-size:36px;
	display:block;
	font-weight:bold;
	text-align: left;
	padding: 10px;
	width: 1000px;
	height:100%;
}

#navigation {};