/* CSS Document */


.body {
vertical-align:top;
vertical-align:text-top;
width: 950px; 
background-color:#000000;
}

.wbody {
vertical-align:top;
vertical-align:text-top;
width: 950px; 
background-color:#ffffff;
}

bodytble {
	vertical-align: text-top;
}

.ids { font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#0066CC;

}

.fin { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; text-align:center;}

.footer { background:background-color:#000000;
	color:#FFFFFF;
	height: 50px;
	background-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}

.nav {
	font-size:16px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
}

.primeacbanner {

	background-image: url(http://www.ids-ids.com/primeautocenter/images/primeac_hombanner.gif);
	width: 440px;
	height: 462px;
	background-repeat:no-repeat;
	vertical-align:top;
	text-align:center;
}

.big
{ font-size:45px;
font-weight:bold;}

.bigb
{ font-size:36px;
font-weight:bold;
font-style:italic;}

.bigc
{ font-size:30px;
font-weight:bold;
font-style:italic;}

.sbig
{ font-size:40px;
font-weight:bold;}

.yellow {
	color:#f6e63c;
	vertical-align: text-top;
	text-align: center;
	top: auto;
	font-family: Georgia, "Times New Roman", Times, serif;
}

a:link {
	color: #FFFFFF;
}
a {
text-decoration: none;
}
a:visited {
	color: #FFFFFF;
}
a:hover {
	color: #ffe61f;
}
a:active {
	color: #FFFFFF;
}
